body{
    background-image: url("images/cre.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
#focr{
    background: grey;
    border: 2px solid;
    border-color: black;
    width: 25.5%;
    border-radius: 10px;
}