body {
    background-image: url("bgimg.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

#heading {
    color: rgb(25, 25, 48);
    font-family: 'berkville old face';
}

#logfor {
    background: grey;
    border: 2px solid;
    border-color: black;
    width: 20%;
    border-radius: 10px;

}
#craccount{
    background-color:rgb(59, 93, 54);
}
#signinb{
    background-color: rgb(124, 124, 199);
}