body {
    background-image: url("bgimg.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

#heading {
    color: rgb(25, 25, 48);
    font-family: 'baskerville old face';
    font-size: 50;
}

#logfor {
    background: grey;
    border: 2px solid;
    border-color: black;
    width: 20%;
    border-radius: 10px;

}

#signinb{
    background-color: rgb(124, 124, 199);
}